permissions:
  contents: read
on:
  # Run on push to main branch and on pull requests
  push:
    branches: [main]
  pull_request:
concurrency:
  # Only run the latest workflow
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: check
jobs:
  conventional_commit:
    name: conventional commit check
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          # Fetch all commits to generate the changelog
          fetch-depth: 0
      - name: Conventional commit check
        uses: webiny/action-conventional-commits@v1.3.0
  conventional_commit_pr:
    name: PR conventional commit check
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          # Fetch all commits to generate the changelog
          fetch-depth: 0
          # pick the pr HEAD instead of the merge commit
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Conventional commit check
        uses: webiny/action-conventional-commits@v1.3.0
  typos:
    name: typos
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Check for typos
        uses: crate-ci/typos@v1.26.0
  clippy:
    name: ${{ matrix.toolchain }} / clippy
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      checks: write
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, beta]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup MXL crates Components build environment
        uses: ./.github/workflows/mxl-setup
        with:
          rust-toolchain: ${{ matrix.toolchain }}
          rust-toolchain-components: clippy
      - name: cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  audit:
    name: cargo audit
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup MXL crates Components build environment
        uses: ./.github/workflows/mxl-setup
        with:
          rust-toolchain: stable
      - name: audit check
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  hack:
    name: hack
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup MXL crates Components build environment
        uses: ./.github/workflows/mxl-setup
        with:
          rust-toolchain: stable
      - name: cargo hack
        shell: bash {0}
        run: |
          source /etc/profile
          just hack
  test:
    name: test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup MXL crates Components build environment
        uses: ./.github/workflows/mxl-setup
        with:
          rust-toolchain: stable
      - name: cargo test
        shell: bash {0}
        run: |
          source /etc/profile
          just ci-test
